nav.navbar{
  width: 80%;
  padding: .7rem;
  display: flex;
  justify-content: space-between;
  font-family: 'DM Sans';
  transition: 1s; 
}
div.logo{
  text-align: center;
  width: 40%;
}
.logo h1{
  color: var(--text-color);
  font-weight: 700;
  font-style: normal;
  font-size: 2.3rem;
  line-height: 47px;
}
.logo span{
  color: var(--positive-color);
}
ul{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
li{
  list-style: none;
}
a.nav-link{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 23px;
  color: var(--text-color);
  transition: 0.8s;
  text-decoration: none;
}
a.nav-link:hover{
  color: var(--positive-color);
}

/*site Tablet*/
@media (min-width: 768px) and (max-width: 860px) {
  nav.navbar{
    width: 80%;
    padding: .7rem;
    display: flex;
    justify-content: space-between;
    font-family: 'DM Sans';
    transition: 1s; 
  }
  div.logo{
    text-align: center;
    width: 40%;
  }
  .logo h1{
    color: var(--text-color);
    font-weight: 700;
    font-style: normal;
    font-size: 2.3rem;
    line-height: 47px;
  }
  .logo span{
    color: var(--positive-color);
  }
  ul{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  li{
    list-style: none;
  }
  a.nav-link{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1rem;
    color: var(--text-color);
    transition: 0.8s;
  }
  a.nav-link:hover{
    color: var(--positive-color);
  }
}

/* site mobile */
@media (min-width: 360px) and (max-width:760px){
  nav.navbar{ 
    width: 80%;
    padding: .7rem;
    display: flex;
    justify-content: space-between;
    font-family: 'DM Sans';
    transition: 1s; 
  }
  div.logo{
    text-align: center;
    width: 100%;
  }
  .logo h1{
    color: var(--text-color);
    font-weight: 700;
    font-style: normal;
    font-size: 2.3rem;
    line-height: 47px;
  }
  .logo span{
    color: var(--positive-color);
  }
  ul{
    display: none;
  }
}