.projetos{
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.sessao-header{
  display: flex;
  justify-content: center;
}
.sessao-header h1{
  font-size: 3rem;
  color: #fff;
  border-bottom: solid 3px #6a3093;
  margin-bottom: 1.5rem;
}

