.sessao-projetos{
  max-width: 720px;
}

.sessao-header{
  display: flex;
  justify-content: center;
}
.sessao-header h1{
  font-size: 3rem;
  color: #fff;
  border-bottom: solid 3px #6a3093;
  margin-bottom: 1.5rem;
}

.carousel{
  cursor: grab;
  overflow: hidden;
}

.projetos{
  width: 1024px;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}



@media (min-width: 360px) and (max-width: 760px){
  .sessao-projetos{
    max-width: 320px;
  }
  
  .sessao-header{
    display: flex;
    justify-content: center;
  }
  .sessao-header h1{
    font-size: 3rem;
    color: #fff;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
  }
  
  .carousel{
    cursor: grab;
    overflow: hidden;
  }
  
  .projetos{
    width: 1024px;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
  }
} 