form{
  width: 100%;

}
.contato{
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}
.contato-titulo h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #fff;
  border-bottom: solid 3px #6a3093;
  margin-bottom: 1.5rem;
}
.formulario-area{
  width: 100%;
}
.contato-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.formulario-area{
  width: 80%;
}
.formulario{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-user{
  width: 45%;
}

.box-user input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.box-user label{

  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.box-user input:focus ~ label,
.box-user input:valid ~ label{
  top: -20px;
  left: 0;
  color: #dfdfdf;
  font-size: 12px;
}
.campo-msg{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.campo-msg label{
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.campo-msg textarea:focus ~ label,
.campo-msg textarea:valid ~ label{
  top: -20px;
  left: 0;
  color: #dfdfdf;
  font-size: 12px;
}
.campo-msg textarea{
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  color: #fff;
  border: none;
  border: 1px solid #fff;
  border-radius: .2rem;
  outline: none;
  background: transparent;
}
.campo-msg button{
  width: 80%;
  height: 42px;
  padding: 12px 27px;
  margin: 2rem;
  text-align: center;
  background-color: var(--positive-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-color);
  transition: .8s;
  border: none;
}

.campo-msg button{
  cursor: pointer;
  background-color: #0e7639;
}